:root {
    --palette-black: #0D1321;
    --palette-dark-blue: #1D2D44;
    --palette-blue: #3E5C76;
    --palette-light-blue: #748CAB;
    --palette-white: #F0EBD8;
}

.parallax {
    
}

.parallax-container {
    position: fixed;
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}