:root {
    --palette-black: #0D1321;
    --palette-dark-blue: #1D2D44;
    --palette-blue: #3E5C76;
    --palette-light-blue: #748CAB;
    --palette-white: #F0EBD8;
}

.parallax-container {
    position: fixed;
    z-index: -1;
    top: 0;
}

.parallax {
    height: 100vh;
    /* background-attachment: fixed; */
    filter: brightness(70%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.countup_num {
    color: #ffffff;
    place-items: center;
    font-weight: 600;
    font-size: 4rem; 
}

.countup_header {
    font-size: 1rem;
}

.countup_cards {
    height: 10rem;
    width: 18rem;
}



