:root {
    --palette-black: #0D1321;
    --palette-dark-blue: #1D2D44;
    --palette-blue: #3E5C76;
    --palette-light-blue: #748CAB;
    --palette-white: #F0EBD8;
    --palette-grey: #6b6b6b;
    
    /* defaults for navbar color */
    --offcanvas-link-color: var(--palette-grey);
    --offcanvas-link-hover-color: var(--palette-black);
    --offcanvas-link-active-color: var(--palette-black);
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

nav.nav-style-light {
    --bs-navbar-color: var(--palette-white);
    --bs-navbar-hover-color: #fff;
    --bs-navbar-disabled-color: var(--bs-navbar-color);
    --bs-navbar-active-color: #fff;
    --bs-navbar-brand-color:  var(--palette-white);
    --bs-navbar-brand-hover-color: #fff;
    --bs-navbar-toggler-border-color: var(--palette-white);
    --offcanvas-link-color: var(--palette-grey);
    --offcanvas-link-hover-color: var(--palette-black);
    --offcanvas-link-active-color: var(--palette-black);
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

nav.nav-style-dark {
    /* default values */
    --offcanvas-link-color: var(--palette-grey);
    --offcanvas-link-hover-color: var(--palette-black);
    --offcanvas-link-active-color: var(--palette-black);

}

.show .navbar-nav,
.showing .navbar-nav  {
    --bs-nav-link-color: var(--offcanvas-link-color);
    --bs-nav-link-hover-color: var(--offcanvas-link-hover-color);
    --bs-navbar-active-color: var(--offcanvas-link-active-color);
}


.parallax-container {
    position: fixed;
    z-index: -1;
    top: 0;
}

.parallax {
    height: 100vh;
    /* background-attachment: fixed; */
    filter: brightness(60%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.float-add-confirmation {
    position: fixed;
    width: fit-content;
    margin: 0% auto; /* Only centers horizontally not vertically! */
    bottom: -5rem;
    left: 0;
    right: 0;
    transition: all 1s;
    z-index: 1000;
}

div.catalogue-search-bar {
    min-width: 10rem; 
    max-width: 37rem;
}



.catalogue .catalogue-item {
    width: 20rem;
    transition: transform 0.25s;
}   

.catalogue .catalogue-item:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 2px 2px;
    transform: scale(1.01);
}

.catalogue .catalogue-item .card-img-container {
    overflow: hidden;
}

.catalogue .catalogue-item img {
    transition: 0.25s;
}

.catalogue .catalogue-item:hover img {
    transform: scale(1.02);
}

.catalogue .catalogue-item h5.card-title {
    font-size: 1.5rem;
}

.catalogue .catalogue-item .card-img-top {
    height: 15rem;
    object-fit: cover;
}

.catalogue .add-to-cart-container {
    width: 14rem;
    display: flex;
    background-color: red;
}



.catalogue .add-to-cart-container .btn-add-to-cart {
    flex-grow: 1;
}

.bottom-shopping-cart {
    z-index: 100;
}

.shop-prize-text {
    font-size: 1.2rem;
}

.countup_num {
    color: #ffffff;
    place-items: center;
    font-weight: 600;
    font-size: 4rem;
}

.countup_header {
    font-size: 1rem;
}

.countup_cards {
    height: 10rem;
    width: 18rem;
}

.customer_element {
    background-color: white;
    border-radius: 25px;
}



@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    20% {
        opacity: 0.2;
    }
}

@keyframes bob {

    0%,
    40%,
    100% {
        transform: translateY(0);
    }

    20% {
        transform: translateY(10px);
    }
}

#scroll-arrow {
    animation: bob 3s infinite, blink 3s infinite;
}


@keyframes animate-slide {
    0% {
        transform: translateX(-15%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}   

.slide-in {
    display: inline-block;
    opacity: 0;
}

.animate-slide-in {
    animation: animate-slide 0.5s ease-in forwards;
}

.cart-img {
    height: 10em;
    width: 10em;
    object-fit: cover;
}

#thankyou-video-bg {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    filter: brightness(60%)
}

