$primary:       #1D2D44;
$secondary:     #3E5C76;
$light:         #F0EBD8;
$dark:          #0D1321;

@font-face {
    font-family: Meslo;
    src: url('../assets/MesloLGMNerdFont-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

$font-family-sans-serif: Meslo;
$h1-font-size:                5rem;
$h2-font-size:                4.375rem;
$h3-font-size:                3.75rem;
$h4-font-size:                3.125rem;
$h5-font-size:                2.5rem;
$h6-font-size:                1.875rem;


// $h1-font-size:                2rem !default;
// $h2-font-size:                1.75rem !default;
// $h3-font-size:                1.5rem !default;
// $h4-font-size:                1.25rem !default;
// $h5-font-size:                1rem !default;
// $h6-font-size:                .75rem !default;

@import "_variables";
@import "../bootstrap-5.3.3/scss/bootstrap";
@import "_bootswatch";
