<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <div class="row justify-content-center align-items-center g-2 row-cols-1 row-cols-lg-3">
            <div class="col align-self-center p-6">
                <p class="m-0">© GalactiCube 2024</p>
            </div>
            <div class="col p-6">
                <a href="legal.html">Legal</a>
            </div>
            <div class="col p-6">
                <a href="index.html">Home</a>
            </div>
        </div>

    </div>
</footer>