<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a href="index.html" class="navbar-brand">GalatiCube</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title">Navigation</h5>
                <button class="btn-close btn-dark" type="button" data-bs-dismiss="offcanvas"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a href="index.html" class="nav-link active">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="shop.html" class="nav-link active">Shop</a>
                    </li>
                    <li class="nav-item">
                        <a href="legal.html" class="nav-link active">Legal</a>
                    </li>
                    <li class="nav-item">
                        <a href="admin.html" class="nav-link active">Admin</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>